---
 interface Props {
    title: string;
    img?: string;
    tag: string[];
    delay: string;
    link: string;
}

const { title, img, tag = [], delay, link } = Astro.props;
console.log(tag);
---

<div class="col-lg-6 items wow fadeInUp" data-wow-delay={`${delay}`}>
    <div class="item">
        <div class="img">
            <img src={img} alt="" />
            <a href={link} class="link" target="_blank"></a>
        </div>
        <div class="cont d-flex align-items-center">
            <div>
                <h6>{title}</h6>
                {
                    tag.map((r) => {
                        return <span class="tag m-1">{r}</span>;
                    })
                }
            </div>
            <div class="ml-auto">
                <div class="arrow">
                    <a href={link} target="_blank">
                        <svg
                            class="arrow-right"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 34.2 32.3"
                            xml:space="preserve"
                            style="stroke-width: 2;"
                        >
                            <line x1="0" y1="16" x2="33" y2="16"></line>
                            <line x1="17.3" y1="0.7" x2="33.2" y2="16.5">
                            </line>
                            <line x1="17.3" y1="31.6" x2="33.5" y2="15.4">
                            </line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
