---
import PortafolioItem from "./PortafolioItem.astro";

interface Propertys {
    title: string;
    img?: string;
    tag: string[];
    delay: string;
    link: string;
}
const ArrayArreglo: Propertys[] = [
    {
        title: "Nucleus App",
        img: "https://app.netlify.com/.netlify/images?url=https://d33wubrfki0l68.cloudfront.net/65ce8af7b2cc710008289a96/screenshot_2024-02-15-22-07-22-0000.webp&fit=cover&h=500&w=800",
        delay: ".2s",
        link: "https://proyecto-nucleus-expert.netlify.app",
        tag: ["HTML", "CSS"],
    },
    {
        title: "Spa Salon",
        img: "https://app.netlify.com/.netlify/images?url=https://d33wubrfki0l68.cloudfront.net/65ce86b89566e70008b9408f/screenshot_2024-02-15-21-49-19-0000.webp&fit=cover&h=500&w=800",
        delay: ".4s",
        link: "https://salon-style.netlify.app",
        tag: ["HTML", "CSS"],
    },
    {
        title: "Econmmerce Teslo",
        img: "https://res.cloudinary.com/personal-proyect/image/upload/v1708045790/para_mostrar_lrniax.png",
        delay: ".6s",
        link: "https://shop-alpha-six.vercel.app/",
        tag: ["NEXTJS", "PRISMA", "AUTH", "NODEJS", "EXPRESS","TAILWIND", "EN DESARROLLO"],
    },
    {
        title: "Tienda Cafe",
        img: "https://app.netlify.com/.netlify/images?url=https://d33wubrfki0l68.cloudfront.net/65cd69a89be8900008cdc426/screenshot_2024-02-15-01-37-38-0000.webp&fit=cover&h=500&w=800",
        delay: ".1s",
        link: "https://tiendaporcafe.netlify.app/",
        tag: ["HTML", "CSS", "GULP", "SASS"],
    },
    {
        title: "Delivery App",
        img: "https://app.netlify.com/.netlify/images?url=https://d33wubrfki0l68.cloudfront.net/65cd79cc2a46f65669b9da18/screenshot_2024-02-15-02-41-58-0000.webp&fit=cover&h=500&w=800",
        delay: "1.2s",
        link: "https://delivery-app-site-deploy.netlify.app/",
        tag: ["HTML", "CSS", "GULP", "SASS"],
    },
    ] 
---

<div class="sec-box" data-scroll-index="2">
    <div class="bg"></div>

    <div class="content-box">
        <!-- ==================== Start portfolio ==================== -->
        <div class="portfolio">
            <div class="sec-head mb-40 wow fadeInUp">
                <div class="d-inline-block">
                    <div class="sub-title-icon d-flex align-items-center">
                        <span class="icon pe-7s-portfolio"></span>
                        <h6>Portfolio</h6>
                    </div>
                </div>
            </div>
            <div class="gallery">
                <div class="row">
                    {
                        ArrayArreglo.map((r) => {
                            return (
                                <PortafolioItem
                                    link={r.link}
                                    title={r.title}
                                    tag={r.tag}
                                    delay={r.delay}
                                    img={r.img}
                                />
                            );
                        })
                    }
                </div>
            </div>
        </div>
        <!-- ==================== End portfolio ==================== -->
    </div>
</div>
